<a href="https://colab.research.google.com/github/dragoon-dranzer/Data_Science/blob/main/Data_Science/ways_to_read_CSV_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **links**

https://towardsdatascience.com/4-awesome-ways-of-loading-ml-data-in-google-colab-9a5264c61966

https://towardsdatascience.com/how-to-read-csv-file-using-pandas-ab1f5e7e7b58

In [1]:
import pandas as pd

# reading from github url

### **method_1**

In [4]:
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/breast-cancer.csv"
df = pd.read_csv(url)# make sure the url is in the raw version on github

In [5]:
df.head()

   '40-49'  'premeno'  '15-19'  ...   'left_up'   'no'     'recurrence-events'
0  '50-59'     'ge40'  '15-19'  ...   'central'   'no'  'no-recurrence-events'
1  '50-59'     'ge40'  '35-39'  ...  'left_low'   'no'     'recurrence-events'
2  '40-49'  'premeno'  '35-39'  ...  'left_low'  'yes'  'no-recurrence-events'
3  '40-49'  'premeno'  '30-34'  ...  'right_up'   'no'     'recurrence-events'
4  '50-59'  'premeno'  '25-29'  ...   'left_up'  'yes'  'no-recurrence-events'

[5 rows x 10 columns]

### **method_2** 
here dataset is downloaded locally

In [8]:
!wget https://raw.githubusercontent.com/jbrownlee/Datasets/master/breast-cancer.csv # !wget <url>

df = pd.read_csv("/content/breast-cancer.csv")

--2021-02-24 03:08:40--  https://raw.githubusercontent.com/jbrownlee/Datasets/master/breast-cancer.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24373 (24K) [text/plain]
Saving to: ‘breast-cancer.csv.1’

breast-cancer.csv.1 100%[===================>]  23.80K  --.-KB/s    in 0.002s

2021-02-24 03:08:40 (12.3 MB/s) - ‘breast-cancer.csv.1’ saved [24373/24373]

In [9]:
df.head()

   '40-49'  'premeno'  '15-19'  ...   'left_up'   'no'     'recurrence-events'
0  '50-59'     'ge40'  '15-19'  ...   'central'   'no'  'no-recurrence-events'
1  '50-59'     'ge40'  '35-39'  ...  'left_low'   'no'     'recurrence-events'
2  '40-49'  'premeno'  '35-39'  ...  'left_low'  'yes'  'no-recurrence-events'
3  '40-49'  'premeno'  '30-34'  ...  'right_up'   'no'     'recurrence-events'
4  '50-59'  'premeno'  '25-29'  ...   'left_up'  'yes'  'no-recurrence-events'

[5 rows x 10 columns]